{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">📩 Biz bilan bog‘laning</h2>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.name.label_tag }}
        {{ form.name }}
    </div>
    <div class="mb-3">
        {{ form.email.label_tag }}
        {{ form.email }}
    </div>
    <div class="mb-3">
        {{ form.message.label_tag }}
        {{ form.message }}
    </div>
    <button type="submit" class="btn btn-primary">Yuborish</button>
</form>
{% endblock %}
